.notesWindow {
    max-width: 80vw;
    max-height: 80vh;
    display: flex;
    gap: 5%;

}

.notesWindow .inp{
    font-size: 2em;
    padding:1%;
}

.listWindow {
    height: 70vh;
    width: 20vw;
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
}

.cardWindow {
    height: 60vh;
    width: 60vw;
}

.cardWindow textarea {
    height: 80%;
    width: 100%;
    max-width: none;
    text-align: left;
    vertical-align: top;
    resize: none;
    padding: 2%;
    background-color: var(--surface);
    color: var(--primary);
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--surface);
}

.cardWindow .title{
    border: 0px;
    margin: 0.5vh;
    
}